@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">Sobre</h1>
    <hr>
</div>
<ul class="about__list">
    <li>
        <p class="about__list-subject">Sobre mim:</p>
        <p class="about__list-description">Olá! Sou Árthus James Erthal, um jovem desenvolvedor brasileiro recentemente formado em ciências da computação na PUC-RIO. No momento estou procurando um emprego formal, mas no meio tempo estou explorando desenvolver projetos em diversas áreas que não cheguei a experimentar na faculdade.<br />
            No meu tempo livre, normalmente jogo jogos eletrônicos, assisto séries, e estudo o violino, além de desenvolver meus projetos pessoais. Ocasionalmente também jogo <i>Dungeons & Dragons</i>(popular jogo de interpretação de papéis), quando consigo consiliar meus horários com os de meus amigos. Estou começando também a jogar <i>Magic: The Gathering</i>(popular jogo de cartas de estratégia)<br />
            Vejo os jogos como uma forma de arte, assim como cinema e literatura. Gosto de explorar não só suas narrativas, mas a sensação de ser um personagem participante, que é algo que outras formas de arte dificilmente conseguem capturar<br />
        </p>
    </li>
    <li>
        <p class="about__list-subject">Sobre minha carreira:</p>
        <p class="about__list-description">No princípio de minha faculdade, mostrei um bom desempenho nas disciplinas introdutórias de programação em python, o que me tornou elegível para trabalhar como monitor da turma por 1 ano e meio. Nessa função, fui responsável por acompanhar e auxiliar os alunos calouros na execução dos exercícios propostos em sala, providenciando uma didática alternativa à do professor aos alunos que requisitassem ajuda. Também fui responsável por corrigir exercícios para nota, propostos pelo professor, avaliando a capacidade dos alunos de entender e resolver problemas propostos, porém em escala menor e portanto menos punitiva que a proposta durante provas formais em sala de aula<br />
        No período entre Julho de 2020 e Junho de 2022, tive o prazer de trabalhar como estagiário de desenvolvimento web no Instituto Brasileiro de Economia (IBRE), Fundação Getúlio Vargas (FGV). Os sistemas desenvolvidos nesse estágio tinham o objetivo de facilitar diversos processos necessários nas pesquisas realizadas pelo IBRE. Por exemplo, desenvolvemos uma ferramenta de criaçao de modelos de e-mail para envio automático, criação de formulários, e de consulta, <i>upload</i> e <i>download</i> de dados das pesquisas. Para essas atividades, utilizamos a plataforma Outsystems, uma linguagem <i>no code</i> que agilizava o processo de desenvolvimento.<br />
        <br />
        Neste momento estou desempregado e procurando uma vaga para entrar no mercado.
        Se meu perfil te interessa, favor entrar em contato:<br />
        Email: arthus.james@hotmail.com<br />
        <a href="https://www.linkedin.com/in/arthusjerthal/">LinkedIn</a><br />
        <a asp-area="" asp-controller="Curriculos" asp-action="Curriculos">Venha ver meu currículo completo!</a><br />
        </p>
    </li>
    <li>
        <p class="about__list-subject">Sobre meus projetos:</p>
        <p class="about__list-description">Sempre tive muito interesse no desenvolvimento de jogos eletrônicos. Durante meus estudos na PUC-RIO, conheci a Prisma Game Lab, uma equipe gerida por alunos com o objetivo de criar um ambiente organizado e seguro de aprendizdo para desenvolvermos alguns jogos em conjunto. Com eles, desenvolvi meus primeiros jogos em Unity:<br />
            <ul>
                <li>
                    Keimagus: um combate caótico em que até 4 jogadores disputam entre si para atingirem uns aos outros com orbes mágicos que aplicam diversos efeitos.
                </li>

                <li>
                    Por trás da máscara: uma experiência narrativa sobre as dificuldades do período de descoberta de sua identidade de gênero.
                </li>
                <li>
                    O formigueiro: um jogo tenebroso em que você é uma formiga tentando escapar de um formigueiro antes que as demais formigas o capturem e transformem em ciborgue.
                </li>
                <li>
                    Sweet Punch: um jogo narrativo simulando um aplicativo de encontros-duelo em um mundo de seres mágicos.
                </li>
                <li>
                    Vish Vice: uma vez que o prefeito de sua cidade foi preso por esquemas de corrupção, cabe a voce, seu vice, consertar os problemas da cidade
                </li>
            </ul>
            Paricipei algumas vezes do evento <i>Global Game Jam</i>, uma <i>hackathon</i> focada no desenvolvimento de um jogo em apenas 48 horas:
            <ul>
                <li>
                    Epidemia R10: Quando uma pandemia cobre o mundo, cabe a você fazer uso de seus conhecimentos em medicina para ajudar os necessitados e curar todos que puder
                </li>
                <li>
                    Intervenção Cinética: Você é um alien com poderes de telecinese que foi capturado pelos humanos para ser estudado. Agora deve encontrar um jeito de fugir com seus poderes
                </li>
            </ul>
            Desenvolvi como meu pojeto final de graduação em Ciências da Computação o aplicativo <i>Pau pra toda Obra</i>, utilizando meus conhecimentos em Unity para desenvolver a interface e as interações, e gerenciando os dados com Google Firebase. O aplicativo permite trabalhadores e contratantes publicarem serviços que oferecem ou que buscam alguem que aceite, e disponibiliza uma sala de bate papo para discutirem seus termos antes de se comprometerem com a troca de informaçoes reais<br />
            Este site que você lê agora também é projeto meu, desenvolvido com <i>ASP.NET Core</i> e utilizando <i>Bootstrap</i>, criei esta página como uma forma de disponibilizar mais informação que não caberia no currículo enquanto também pratico desenvolvimento web.<br />
            <br />
            <a asp-area="" asp-controller="Projetos" asp-action="Projetos">Aqui você pode acessar todos estes projetos</a><br />
        </p>
    </li>
    <li>
        <p class="about__list-subject">Meus próximos planos:</p>
        <ul>
            <li>Ser contratado para um emprego formal júnior</li>
            <li>Desenvolver outras páginas com diversas ferramentas úteis</li>
            <li>Desenvolver jogos na plataforma Godot</li>
            <li>Criar um canal e fazer transmissões ao vivo na Twitch.tv</li>
        </ul>
    </li>
    <li>
        <p class="about__list-subject">Próximos passos para este site:</p>
        <ul>
            <li>Verificar responsividade em dispositivos móveis</li>
            <li>Armazenar projetos em um formato de arquivo mais bem estruturado, ou em banco de dados</li>
            <li>Opção de tema escuro</li>
            <li>Opções de língua do texto (inicialmente inglês)</li>
        </ul>
    </li>
</ul>
