@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center home__profile">
    <h1 class="display-4">Árthus James Serrano Erthal</h1>
    <article class=" home__profile-container">
        <figure class="home__profile-figure">
            <img src="Arthus.jpg" alt="Foto de Árthus James Serrano Erthal" />
        </figure>
        <div class="home__profile-description">
            <p>
                Bem vindo(a) ao meu site pessoal.<br />
                Desenvolvi esse site para que pessoas como você possam conhecer um pouco mais sobre mim e meus projetos.<br />
                Sou um jovem desenvolvedor recentemente formado na PUC-RIO.<br />
            </p>
            <p>
                Tenho um interesse pessoal no desenvolvimento de jogos eletrônicos.<br />
                Também desenvolvi alguns aplicativos para dispositivos móveis<br />
                No momento, estou estudando desenvolvimento web, ganhando experiência ao criar páginas como esta<br />
                <a asp-area="" asp-controller="Projetos" asp-action="Projetos">Venha conhecer meus projetos!</a><br />
            </p>
            <p>
                Estagiei por 2 anos na Fundação Getúlio Vargas como Desenvolvedor Web.<br />
                No momento estou procurando emprego como desenvolvedor júnior.<br />
                Se meu perfil te interessa, favor entrar em contato:<br />
                Email: arthus.james@hotmail.com<br />
                <a href="https://www.linkedin.com/in/arthusjerthal/">LinkedIn</a><br />
                <a asp-area="" asp-controller="Curriculos" asp-action="Curriculos">Venha ver meu currículo completo!</a><br />
            </p>
        </div>
    </article>
</section>
